.action-bar {
  padding: 0 10px 0 1px;
  border-bottom: 1px solid #ccc;
  position: relative;
  background: #f1f3f4;
  line-height: 33px;
  overflow: hidden;
  height: 35px;
}

.n-notice-ctn {
  color: red;
  margin-left: 50px;
  font-size: 15px;
}

.action-bar .ant-cascader-picker .ant-cascader-input {
  border-radius: 0;
}

.action-bar .ant-cascader-picker {
  width: 266px;
}

.empty-tips {
  position: absolute;
  width: 300px;
  line-height: 50px;
  height: 50px;
  margin: -50px -150px;
  text-align: center;
  left: 50%;
  top: 50%;
  font-size: 16px;
}

.view-self-only {
  margin-left: 20px;
}
.n-copy-env {
  font-size: 20px;
  vertical-align: middle;
  margin: 0 5px 3px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
}
.view-self-only .anticon-qrcode {
  font-size: 18px;
  vertical-align: text-top;
  margin-left: 8px;
}
.view-self-only .ant-checkbox-wrapper>span {
  padding-right: 0;
}

.empty-tips i {
  color: #1890ff;
}

.user-config-url {
  position: absolute;
  right: 10px;
  top: 5px;
}

.n-masker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid #ccc;
  border-radius: 3px;
}
.n-masker .n-card {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 36px;
  margin-left: -300px;
  max-height: 520px;
  background: #fff;
}

.n-masker .n-card .n-header {
  border-bottom: 1px solid #ccc;
}
.n-masker .n-card .n-footer {
  border-top: 1px solid #ccc;
}
.n-masker .n-card .n-header {
  height: 32px;
  line-height: 32px;
}

.n-masker .n-card .n-footer {
  height: 42px;
  line-height: 40px;
  text-align: right;
}

.n-masker .n-footer button {
  margin-right: 15px;
}

.n-masker h4 {
  padding-left: 10px;
  line-height: 28px;
}

.n-masker textarea {
  resize: none;
  display: block;
  padding: 5px 10px;
  width: 100%;
  min-height: 280px;
  border: none;
  background: #fafafa;
}
.n-align-right {
  float: right;
}
.n-align-right .ant-btn {
  line-height: 24px;
  height: 26px;
}

.n-padding-0-dialog {
  top: 50px!important;
}
.n-padding-0-dialog .ant-modal-body {
  padding: 0;
}
.n-qrcode-dialog .ant-modal-body {
  padding: 10px;
  width: 360px;
  height: 360px;
  position: relative;
}
.n-create-test-env-dialog {
  top: 50px!important;
}
.n-create-test-env-dialog .ant-modal-body {
  padding: 10px;
}
.n-select-env-win {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 420px;
}
.n-qrcode-loading {
  position: absolute;
  width: 120px;
  text-align: center;
  line-height: 30px;
  margin: -15px -60px;
  top: 50%;
  left: 50%;
}
.n-qrcode-warning {
  text-align: center;
  padding-top: 50px;
}

body fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 0 10px;
  margin-top: 15px; 
}

body legend {
  font-size: 14px;
  width: auto;
  margin: 0 0 0 10px;
  padding: 0 8px;
}

.n-test-env-qrcode canvas {
  margin: 0 auto 10px;
  display: block;
}
.n-test-url {
  display: inline-block;
  width: 400px;
  margin-right: 5px;
}

.n-settings-bar {
  text-align: right;
  margin: 0;
  padding: 0 20px 10px;
}
.n-unfollow {
  margin-top: 10px;
}
.n-unfollow a {
  color: #ccc;
}
.n-unfollow a:hover {
  text-decoration: underline;
}

.n-qrcode-url {
  white-space: nowrap;
  padding: 10px;
}

.n-qrcode-url {
  width: 497px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: #f3f3f3;
  cursor: not-allowed;
}

.n-qrcode-url-wrap {
  margin-top: 15px;
}

.n-qrcode-button {
  float: right;
  height: 26px;
  margin-top: 4px;
}
