.p-settings .p-mid-ctn {
  padding: 20px 30px;
  text-align: right;
}
.p-restart-bar{
  text-align: left;
}
.p-settings .ant-form-item,
.p-settings .ant-form-item label,
.p-settings .ant-form-item .ant-input,
.p-settings .ant-form-item .ant-input-affix-wrapper,
.p-settings .ant-btn,
.p-settings .ant-form-explain,
.p-settings .ant-form-extra {
  font-size: 13px;
}
