{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["import", { "libraryName": "antd" }],
    ["@babel/plugin-proposal-class-properties",{"loose": true}],
    ["transform-class-properties", { "spec": true }],
    "@babel/transform-runtime",
    "transform-object-assign"
  ]
}