{
  "presets": [
    "es2015",
    "react",
    "env",
    "stage-0"
  ],
  "plugins": [
    ["import", { "libraryName": "antd" }],
    ["transform-class-properties", { "spec": true }],
    "transform-object-assign"
  ]
}
