.p-rules .ant-table-tbody>tr:last-child>td {
  border: none;
}
.p-rules .ant-input {
  border: none;
}

.p-whistle {
  padding-right: 0!important;
}

.p-whistle > div {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  height: 0;
}
