
.n-error-tips {
  margin: 0;
  color: red;
  display: none;
}

.n-show-export-info {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background: #ccc;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

.n-export-list-modal .ant-modal-body {
  padding: 0;
}
.n-export-list-modal {
  top: 36px!important;
}

.n-has-new-item tbody .ant-table-row:first-child {
  font-weight: bold;
}
