.p-nav-bar {
  background: #f1f3f4;
  color: rgba(0,0,0,.85);
  min-width: 1200px;
  height: 60px;
  position: relative;
  border-bottom: 1px solid #ddd;
}

.p-logo {
  display: inline-block;
  line-height: 60px;
  padding: 0 30px 0 65px;
  color: rgba(0,0,0,.85);
  font-size: 20px;
  background: url(../../img/logo.png) 10px center no-repeat;
  background-size: 42px;
}

.p-nav-bar>button, .p-nav-bar .p-logo {
  vertical-align: middle;
}

.p-nav-bar .p-active {
  color: #1a79b9;
  border-bottom: 1px solid #1a79b9;
}

.p-nav-bar>button:hover {
  color: #1a79b9;
}

.p-nav-bar .p-logo:hover {
  color: rgba(0,0,0,.85);
}

.p-nav-bar button {
  background-color: transparent;
  border: 0;
  line-height: 60px;
  outline: none;
  padding: 0 25px;
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.p-nav-bar .p-help {
  display: inline-block;
  line-height: 60px;
  padding: 0 20px 0 10px;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 15px;
}

.p-nav-bar .p-help a {
  color: rgba(0,0,0,.85);
}
.p-nav-bar .p-help-menu {
  margin-left: 5px;
}

.p-nav-bar .p-about {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  color: rgba(0,0,0,0.65);
  position: absolute;
  background: #fff;
  border-radius: 3px;
  top: 46px;
  right: 20px;
  padding: 0;
  line-height: 36px;
  width: 100px;
  text-align: center;
  z-index: 10;
}

.p-about-dialog {
  text-align: center;
  background: url(../../img/logo.png) center 0 no-repeat;
  background-size: 25%;
  padding-top: 105px;
}

.p-about-dialog > div {
  margin-bottom: 10px;
  font-size: 16px;
}

.p-about-name {
  font-size: 20px!important;
}
