
.p-certs a i {
  margin-right: 5px;
}

.p-certs-upload {
  padding: 15px 20px;
  text-align: right;
  width: 100%;
  top: 60px;
  z-index: 1;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.p-certs-list {
  overflow: auto;
}
