
.p-container {
  overflow: auto;
  min-width: 1200px;
}

.p-full-container {
  max-width: unset;
  width: 100%;
}

.p-left-menu {
  width: 250px;
  padding-top: 10px;
}

.p-left-menu .ant-menu-item-selected {
  background-color: transparent!important;
}

.p-mid {
  padding-right: 250px;
  overflow: auto;
}

.p-mid-con {
  min-width: 720px;
  max-width: 72%;
  margin: 0 auto;
}

.p-title {
  margin: 30px 0 15px;
  font-size: 14px;
  font-weight: normal;
}
.p-mid-ctn {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  border: 1px solid #f0f0f0;
  background: #fff;
  margin-bottom: 60px;
}

.p-left-menu > ul {
  border: none;
  background: transparent;
}

.p-action-bar {
  padding: 15px 20px;
  text-align: right;
  width: 100%;
  z-index: 1;
  background: #f8f9fa;
  border-bottom: 1px solid #e8e8e8;
  line-height: 2.6;
  position: relative;
}

.p-action-bar>strong {
  position: absolute;
  left: 10px;
}

.p-action-bar>span {
  color: red;
}

.p-content {
  overflow: auto;
}

.p-textarea.ant-input {
  height: 420px;
}
