
.p-container {
  overflow: auto;
  max-width: 1680px;
  min-width: 1200px;
  margin: 0 auto;
}

.p-left-menu {
  width: 250px;
  padding-top: 10px;
}

.p-left-menu .ant-menu-item-selected {
  background-color: transparent!important;
}

.p-mid {
  padding-right: 250px;
  overflow: auto;
}

.p-mid-con {
  min-width: 680px;
  max-width: 900px;
  margin: 0 auto;
}

.p-title {
  margin: 20px 0 15px;
  font-size: 14px;
  font-weight: normal;
}
.p-mid-ctn {
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
  border: 1px solid #f0f0f0;
  background: #fff;
}

.p-left-menu > ul {
  border: none;
  background: transparent;
}

.p-action-bar {
  padding: 15px 20px;
  text-align: right;
  width: 100%;
  top: 60px;
  z-index: 1;
  background: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.p-content {
  overflow: auto;
}
